%ul.breadcrumb
  %li.active= t('settings.index.title')

- if @casted_settings && @casted_settings[:errors].any?
  .alert.alert-error= t('settings.index.settings_include_errors')

= form_tag [:update_all], method: :put, class: 'form-inline' do
  %table.table.table-striped
    %thead
      %tr
        %th= t('settings.index.description')
        %th= t('settings.index.value')
    %tbody
      - @settings.each do |name, value|
        - if name != :errors
          %tr
            %td= I18n.t("settings.attributes.#{name}.name")
            %td
              - setting_with_error = @casted_settings && @casted_settings[:errors].include?(name)
              %div{class: "control-group #{ setting_with_error ? 'error' : ''}"}
                = setting_field(name, value, @settings)
                - if setting_with_error
                  %span.help-inline= @casted_settings[:errors][name]

  = submit_tag t('settings.index.save_all'), class: 'btn btn-info'
